.amazon-ShoppingCart {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 1px solid #6daee1;
    background-color: #c0dbf2;
    background-color: #ebf3fe;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.amazon-ShoppingCart-logo {
    margin: 15px;
}

.amazon-ShoppingCart-content {
    display: block;
    position: absolute;
    height: 230px;
    width: 293px;
    -webkit-transition: left 400ms ease-in;
    -moz-transition: left 400ms ease-in;
    -ms-transition: left 400ms ease-in;
    transition: left 400ms ease-in;
}

.amazon-ShoppingCart-receipt {
    visibility: hidden;
    left: 293px;
}

.amazon-ShoppingCart-content--exiting {

}

.amazon-ShoppingCart-content--entering {

}