.usdoe-Bar {
    position: relative;
    width: 100%;
    height: 15px;
    overflow: hidden;
}

.usdoe-Bar-level {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: -webkit-transform 400ms;
    transition: transform 400ms;
    background-color: blue;
    text-align: center;
}

.usdoe-Bar-value {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -1.2em;
}

.usdoe-Bar-label {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.2em;
}