.Page1 {

}

.Page1-view {
    position: absolute;
    left: 0px;
    top:0px;
    overflow: hidden;
    height: 768px;
    width: 674px;
}

.Page1-wall {
    position: absolute;
    left: 674px;
    top:0px;
    overflow: hidden;
    height: 768px;
    width: 350px;
    background-color: #ececec;
}

.Page1-den {
    position: absolute;
    margin-left: -75px;
    bottom: 0px;
}
.Page1-title {
    position: absolute;
    left: 50px;
    top:50px;
    font-size: 50px;
}
