
body {
    margin: 0;
    padding: 80px;
    color: #444;
}

.Overview > h1 {
    padding-right: 1em;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.Overview > h2 {
    margin: 60px 0 20px 0;
    text-align: center;
    color: #aaa;
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    border-bottom: 1px solid hsla(0,0%,0%,.1);
}

.Overview > .group {
    margin-bottom: 1em;
}


/* Overrides ----------------------- */

.Custom--hasSwatches .Custom.digit-RadioButton {
    background: hsl(200,30%,80%);
}