.EcoScore {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.EcoScore-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: right;
}

.EcoScore-title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.EcoScore-grade {
    display: block;
    color: #BAD662;
    min-width: 90px;
    line-height: 20px;
}

.EcoScore-costGraph {
    display: inline-block;
    margin-left: 8px;
}

.EcoScore usdoe-Bar {
    height: 41px;
}

.EcoScore .usdoe-Bar-level {
    background: #BAD662;
    border: none;
}

.EcoScore .usdoe-CostGraph-costBar .usdoe-Bar-level {
    background: #999;
}
