.EcoScore {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.EcoScore-grade {
    color: #c5e265;
    font-size: 9px;
    line-height: 18px;
    margin-left: 4px;
}

.EcoScore-bar {
    padding-top: 6px;
}

.EcoScore-title {
    margin: 0;
    height: 45px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 9px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    padding-right: 6px;
    border-right: 1px solid hsla(0,0%,100%,.3);
}
