.Dwell {
    position: relative;
    background-image: url("dwell.png");
    background-size: 100%;
    width: 450px;
    height: 450px;
}

.Dwell-title {
    font-family: Futura;
    font-size: 17px;
    color: white;
    position: absolute;
    top: 91px;
    left: 206px;
}

.Dwell-indicatorContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.Dwell-indicator {
    position: absolute;
    left: 50%;
    top: 130px;
    margin-left:-3px;
    width: 6px;
    height: 20px;
    background-color: white;
}

