.Card {
    position: relative;
    box-sizing: border-box;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    background-color: hsl(0,0%,95%);
    border-left: 1px solid hsl(0,0%,97%);
}

.Card-hero {
    display: block;
    margin: 0 auto;
}

.Card-header {
    background-image: -webkit-linear-gradient(bottom,
        hsla(0,0%,98%,0) 0%,
        hsla(0,0%,85%,0.4) 10%,
        hsla(0,0%,70%,0) 40%);
}

.Card-title {
    padding-bottom: 0.4em;
    border-bottom: 1px solid hsla(0,0%,70%,0.2);
    margin: 0 0 0 40px;
}

.Card-content {
    padding: 40px;
    padding-top: 0;
}

.Card-optionGrid {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.Card-optionThumbnail {
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 2px 2px hsla(0,0%,0%,0.2);
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.Card-option--booleanField {
    display: block;

    display: -webkit-box;

    display: -webkit-flex;
    -webkit-flex: 1 0 50%;

    padding: 5px 10px;
}

.Card-option--slider {
    display: block;
    margin-top: 20px;
}

.Card-option-labelArea {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    padding-left: 5px;
}

.Card-option-label {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
}

.Card-option-price {
    display: block;
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    color: hsla(0,0%,15%)
}

.debug .Card * {
    outline: 1px solid red;
}
