.Card {
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    
    font-size: 18px;
    line-height: 1.3;
    color: #666;

    background-color: #fff;
    -webkit-user-select: none;
}


/* Header ------------------------------------------- */

.Card-hero {
    display: block;
    margin: 0 auto 2em auto;
    max-width: 100%;
    max-height: 150px;
    -webkit-user-drag: none;
}


.Card-title {
    margin: 0 0 1em 0;
    font-size: 33px;
    font-weight: normal;
    color: #363636;
}

.Card-description {
    margin: 0 0 1em 0;
}


/* Content ------------------------------------------- */

.Card-content {
    -webkit-margin-collapse: separate; /* Don't collapse margins */
}

.Card-content p {
    margin: 0 0 1em 0;
}

.Card-optionGrid {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.Card-optionThumbnail {
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 2px 2px hsla(0,0%,0%,0.2);
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.Card-option--booleanField,
.Card-option--choiceField {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex: 1 0 50%;
    padding: 6px 10px;
}

.Card-option--rangeField {
    display: block;
    margin-top: 20px;
    -webkit-flex: 1 0 50%;
    padding: 5px 10px;
}

.Card-option--slider {

}

.Card-option-labelArea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: justify;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    padding-left: 12px;
    cursor: pointer;
    
    -webkit-tap-highlight-color: transparent;
}

.Card-option-label {
    display: block;
    font-weight: normal;
    line-height: 24px;
}

.Card-option-price {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0,0%,15%)
}

.Card--disclaimer {
    font-size: 14px;
    color: #999;
}

.debug .Card * {
    outline: 1px solid red;
}


/* Portrait */
@media (orientation: portrait) {
    
    .Card {
        -webkit-box-orient: horizontal;
        -webkit-box-align: center;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
    }

    .Card-hero {
        margin: 0 0 1em 0;
        max-height: 120px;
    }

    .Card-content {
        -webkit-box-flex: 1;
        width: 50%;
    }

    .Card-content:first-child {
        margin-right: 20px;
    }

}
