.PanelFlow {
}

.PanelFlow-flow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.PanelFlow-flow .montage-Flow-Repetition > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

@-webkit-keyframes nextPage {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 40px, 0) rotate3d(0, 0, 1, 180deg);
    }
    20% {
        opacity: .1;
    }
    40% {
        opacity: .1;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    80% {
        opacity: .1;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
}

@keyframes nextPage {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 40px, 0) rotate3d(0, 0, 1, 180deg);
    }
    20% {
        opacity: .1;
    }
    40% {
        opacity: .1;
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    80% {
        opacity: .1;
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        opacity: 0;
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
}

.PanelFlow .PanelFlow-nextPage {
    position: absolute;
    bottom: 30px;
    left: 50%;
    background-image: url(downarrow.png);
    width: 70px;
    height: 18px;
    background-size: 70px 17.1px;
    background-repeat: no-repeat;
    -webkit-animation: nextPage 4s infinite;
    animation: nextPage 4s infinite;
    opacity: 0;
    pointer-events: none;
}

.PanelFlow .PanelFlow-nextPage.hidden {
    display: none;
}

.Card {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    font-size: 18px;
    line-height: 22px;
    color: #808080;
    background-color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


/* Header ------------------------------------------- */

.Card-hero {
    display: block;
    margin: 0 auto 1.6em auto;
    max-width: 100%;
    max-height: 300px;
    -webkit-user-drag: none;
        -ms-user-drag: none;
            user-drag: none;
}


.Card-title {
    margin: 0 0 8px 0;
    font-size: 36px;
    line-height: 34px;
    font-weight: bold;
    color: #000;
    letter-spacing: -2px;
}

.Card-title--sub {
    display: block;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;
}

.Card-description {
    margin: 0;
}

.Card-strong {
    display: block;
}


/* Content ------------------------------------------- */

.Card-content {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-margin-collapse: separate; /* Don't collapse margins */
}

.Card--hasOptions {
    margin-top: 18px;
    border-top: 1px solid hsl(0,0%,90%);
}


.Card-optionThumbnail {
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 2px 2px hsla(0,0%,0%,0.2);
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.Card-option--booleanField,
.Card-option--choiceField {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 6px 0;
}

.Card-option--rangeField {
    display: block;
    margin-top: 20px;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 6px 0;
}

.Card-option-labelArea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.Card-option-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    font-weight: normal;
    line-height: 24px;
    margin-right: 10px;
}

.Card-option-price {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0,0%,15%);
    white-space: nowrap;
}

.Card--disclaimer {
    font-size: 9px;
    line-height: 14px;
    color: #b2b2b2;
}


/* Has Swatches */

.Card.Card--hasSwatches .Card-option--choiceField {
    padding: 4px 10px;
}

/*.debug .Card * {
    outline: 1px solid red;
}*/




/* Featured -------------------------- */

.Card-featured {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    text-align: center;
}

.Card-featured-caption {
    font-size: 9px;
    line-height: 18px;
    color: #b2b2b2;
}

.Card-featured-img {
    height: 22px;
    vertical-align: bottom;
}



/* Landscape ---------------------------------------------------- */

@media (orientation: landscape) and (max-height: 600px ) {
    
    .Card .Card-hero {
        position: absolute;
        margin: 0;
    }
}


@media (orientation: landscape) and (max-height: 400px )  {
    
    .Card {
        padding: 0 20px;
        font-size: 14px;
        line-height: 18px;
    }
    
    .Card-hero {
        display: none;
    }
    
    .Card-title {
        margin-bottom: .2em;
        font-size: 1.6em;
    }
    
    .Card-description {
        padding-right: 60px;
    }

}


/* Portrait ---------------------------------------------------- */

@media (orientation: portrait) and (min-width: 560px) {
    
    .Card {
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .Card .Card-hero { /* Higher specificity -> Safari fix */
        margin: 0 0 1em 0;
        max-height: 120px;
        height: auto;
    }
    
    .Card-content {
        width: 50%;
    }
    
    .Card-content:nth-child(1) {
        padding-right: 15px;
    }
    
    .Card-content:nth-child(2) {
        padding-left: 15px;
    }
    
    .Card--hasOptions {
        margin-top: 0;
        border-top: none;
        border-left: 1px solid hsl(0,0%,90%);
    }
}


@media (orientation: portrait) and (max-width: 561px) {
    
    .Card {
        padding: 0 20px;
        font-size: 14px;
        line-height: 18px;
    }
    
    .Card-title {
        margin-bottom: .2em;
        font-size: 1.6em;
    }
    
    .Card-hero {
        display: none;
    }
    
    .Card-option--booleanField,
    .Card-option--choiceField {
        padding: 4px 0;
    }
    
}
