.PanelFlow {
}

.PanelFlow-flow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.PanelFlow-flow .montage-Flow-Repetition > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

@-webkit-keyframes nextPage {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 40px, 0) rotate3d(0, 0, 1, 180deg);
    }
    20% {
        opacity: .1;
    }
    40% {
        opacity: .1;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    80% {
        opacity: .1;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
}

.PanelFlow .PanelFlow-nextPage {
    position: absolute;
    bottom: 30px;
    left: 50%;
    background-image: url(downarrow.png);
    width: 70px;
    height: 18px;
    background-size: 70px 17.1px;
    background-repeat: no-repeat;
    -webkit-animation: nextPage 4s infinite;
    opacity: 0;
    pointer-events: none;
}

.PanelFlow .PanelFlow-nextPage.hidden {
    display: none;
}

.Card {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    font-size: 18px;
    line-height: 1.3;
    color: #666;
    background-color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


/* Header ------------------------------------------- */

.Card-hero {
    display: block;
    margin: 0 auto 1.6em auto;
    max-width: 100%;
    max-height: 300px;
    -webkit-user-drag: none;
}


.Card-title {
    margin: 0 0 .6em 0;
    font-size: 1.8em;
    line-height: 1.1;
    font-weight: bold;
    color: #363636;
    letter-spacing: -1px;
}

.Card-description {
    margin: 0 0 1em 0;
}


/* Content ------------------------------------------- */

.Card-content {
    position: relative;
    -webkit-margin-collapse: separate; /* Don't collapse margins */
}

.Card-content p {
    margin: 0 0 1em 0;
}

.Card-optionThumbnail {
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 2px 2px hsla(0,0%,0%,0.2);
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.Card-option--booleanField,
.Card-option--choiceField {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 6px 10px;
}

/* Has Swatches */
.Card--hasSwatches .Card-option--choiceField {
    padding: 4px 10px;
}

.Card--hasSwatches .digit-RadioButton {
    font-size: 20px;
    border: none;
    background-repeat: repeat;
    background-position: center;
    background-size: auto 100%;
}

.Card--hasSwatches .digit-RadioButton.montage-RadioButton--checked {
    box-shadow: inset 0 0px 0px 4px hsl(0,0%,100%), 0 0 0 2px hsla(0,0%,0%,.2);
}

.Card-option--rangeField {
    display: block;
    margin-top: 20px;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 5px 10px;
}

.Card-option--slider {

}

.Card-option-labelArea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.Card-option-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    font-weight: normal;
    line-height: 24px;
    margin-right: 10px;
}

.Card-option-price {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0,0%,15%);
    white-space: nowrap;
}

.Card--disclaimer {
    font-size: .8em;
    color: #999;
}

.debug .Card * {
    outline: 1px solid red;
}

/* Reduces invisible target so they don't overlap */
.Card .digit-RadioButton:after,
.Card .digit-Checkbox:after {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    /* background: rgba(255, 0, 45, 0.5); */
}



/* Small -------------------------- */


@media (orientation: landscape) and (max-height: 600px ) {
    
    .Card .Card-hero {
        position: absolute;
        margin: 0;
    }
}


@media (orientation: landscape) and (max-height: 400px )  {
    
    .Card {
        padding: 20px;
        font-size: 14px;
    }
    
    .Card-hero {
        display: none;
    }
    
    .Card-title {
        margin-bottom: .2em;
        font-size: 1.6em;
    }
    
    .Card-description {
        padding-right: 60px;
    }

}


/* Portrait */

@media (orientation: portrait) {

    .Card {
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .Card .Card-hero { /* Higher specificity -> Safari fix */
        margin: 0 0 1em 0;
        max-height: 120px;
        height: auto;
    }

    .Card-content {
        -webkit-box-flex: 1;
        width: 50%;
    }

    .Card-content:first-child {
        margin-right: 20px;
    }

}

@media (orientation: portrait) and (max-width: 560px) {
    
    .Card {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    
    .Card-title {
        margin-bottom: .2em;
        font-size: 1.6em;
    }
    
    .Card-content {
        width: 100%;
    }
    
    .Card-content:first-child {
        margin-right: 0;
    }
    
    .Card-hero {
        display: none;
    }
    
    .Card-content p {
        margin-bottom: .6em;
    }
        
}