.Navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90px;
    z-index: 10;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    background-color: #f2f2f2;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Navigation.Navigation--show {
    box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.75), 0 0 3px 0px hsla(0,0%,0%,.25);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/* Nav List ------------------------------ */

.Navigation-list {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	
	max-height: 720px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Navigation-listItem {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Navigation-button.digit-Button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 10px;
	border: none;
	border-radius: 0;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	color: #b2b2b2;
	text-shadow: 0 1px 0 white;
	background-color: inherit;
}

.Navigation-button.digit-Button.montage--active {
	background-color: hsla(0,0%,0%,.1);
	text-shadow: none;
}

.Navigation-button--selected.Navigation-button {
	color: #000;
}


/* Nav Toggle -------------------------- */

.Navigation-toggle.digit-Checkbox {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 11;
    margin: 0;
    top: 30px;
    left: -40px;
    width: 40px;
    height: 34px;
    border-radius: 17px 0 0 17px;
    border: none;
    box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.75), 0 0 3px 0px hsla(0,0%,0%,.25);
    background-color: #f2f2f2;
    -webkit-transform: translateZ(0); /* Force button to own HW layer */
}

.Navigation-toggle.digit-Checkbox.montage-Checkbox--checked {
    background-image: none;
}

.Navigation-toggle.montage--active:after,
.Navigation-toggle.montage--active.montage-Checkbox--checked:after {
    opacity: .6;
}

.Navigation-toggle:after {
    content: "";
    pointer-events: none;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 34px;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: transparent url(../../assets/images/toggle-icons.png) no-repeat;
    background-size: 50px auto;
    background-position: -8px -8px;
}

.Navigation--show .Navigation-toggle:after {
    background-position: -8px -58px;
}

.Navigation-toggle:before {
    content: "";
    pointer-events: none;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 10px;
    height: 34px;
    top: 0;
    right: -5px;
    background-color: inherit;
}




/* Responsive Nav */

@media (min-width: 1200px) and (orientation: landscape) { /* Show nav on wider screens */
    
    .Navigation {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        height: 100%;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: none;
        transform: none;
    }
    
    .Navigation-toggle.digit-Checkbox {
        display: none;
    }
    
}


/* Only show icons if enough height */

@media (min-height: 720px) {
        
    .Navigation-button.digit-Button {
    	padding: 32px 4px 0 4px;
    }
    
    .Navigation-button:before {
    	content: "";
    	pointer-events: none;
    	position: absolute;
    	top: 14px;
    	left: 25px;
    	width: 40px;
        height: 40px;
    	background: transparent url(../../assets/images/nav-icons.png) no-repeat;
    	background-size: 80px auto;
    	background-position: 0 40px; /* no icon by default */
    }
    
    .NavItem--introduction .Navigation-button:before { background-position: 0 0; }
    .NavItem--thermostat   .Navigation-button:before { background-position: 0 -40px; }
    .NavItem--solarPanels  .Navigation-button:before { background-position: 0 -80px; }
    .NavItem--counters     .Navigation-button:before { background-position: 0 -120px; }
    .NavItem--kitchen      .Navigation-button:before { background-position: 0 -160px; }
    .NavItem--laundry      .Navigation-button:before { background-position: 0 -200px; }
    .NavItem--window       .Navigation-button:before { background-position: 0 -240px; }
    .NavItem--staircase    .Navigation-button:before { background-position: 0 -280px; }
    .NavItem--callBack     .Navigation-button:before { background-position: 0 -320px; }
    
    .NavItem--introduction .Navigation-button--selected:before { background-position: -40px 0; }
    .NavItem--thermostat   .Navigation-button--selected:before { background-position: -40px -40px; }
    .NavItem--solarPanels  .Navigation-button--selected:before { background-position: -40px -80px; }
    .NavItem--counters     .Navigation-button--selected:before { background-position: -40px -120px; }
    .NavItem--kitchen      .Navigation-button--selected:before { background-position: -40px -160px; }
    .NavItem--laundry      .Navigation-button--selected:before { background-position: -40px -200px; }
    .NavItem--window       .Navigation-button--selected:before { background-position: -40px -240px; }
    .NavItem--staircase    .Navigation-button--selected:before { background-position: -40px -280px; }
    .NavItem--callBack     .Navigation-button--selected:before { background-position: -40px -320px; }
    
}
