.Navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    z-index: 10;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    
    background-color: #f5f5f5;
    -webkit-user-select: none;
    -webkit-transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform .2s;
}

.Navigation.Navigation--show {
    -webkit-transform: translate3d(0,0,0);
}


/* Nav List ------------------------------ */

.Navigation-list {
	max-height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.Navigation-listItem {
    padding: 0;
    margin: 0;
    height: 70px;
}

.Navigation-button.digit-Button {
	display: block;
	position: relative;
	width: 100%;
	height: 70px;
	margin: 0;
	border: none;
	border-radius: 0;
	font-size: 17px;
	color: #666;
	font-family: "HelveticaNeue-CondensedBold";
	text-shadow: 0 1px 0 white;
	background-color: inherit;
}

.Navigation-button.digit-Button.montage--active {
	background-color: #e4e98c;
}

.Navigation-button--selected.Navigation-button {
	background: #e4e98c;
}

/*.Navigation-button:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 12px;
    height: 36px;
    top: 16px;
    left: 0;
    background: url(../../assets/images/nav-arrow.svg) no-repeat center;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: left center;
    -webkit-transition: -webkit-transform .3s;
}

.Navigation-button--selected.Navigation-button:after {
	-webkit-transform: scaleX(1);
}*/

/*
.Navigation-button:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: transparent url(../../assets/images/nav-icons.svg) no-repeat;
	background-size: 48px auto;
	background-position: center 48px; /* no icon by default *!/
}

/*
.Navigation-button:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: transparent url(../../assets/images/nav-icons.svg) no-repeat;
	background-size: 48px auto;
	background-position: center 48px; /* no icon by default *!/
}

.NavItem--introduction .Navigation-button:before { background-position: center 0; }
.NavItem--staircase .Navigation-button:before { background-position: center -48px; }
.NavItem--thermostat .Navigation-button:before { background-position: center -288px; }
.NavItem--kitchen .Navigation-button:before { background-position: center -96px; }
.NavItem--counters .Navigation-button:before { background-position: center -144px; }
.NavItem--laundry .Navigation-button:before { background-position: center -192px; }
.NavItem--window .Navigation-button:before { background-position: center -240px; }
.NavItem--solarPanels .Navigation-button:before { background-position: center -336px; }
.NavItem--callBack .Navigation-button:before { background-position: center -384px; }
*/


/* Nav Toggle -------------------------- */

.Navigation-toggle.digit-Checkbox {
    display: block;
    position: absolute;
    z-index: 11;
    margin: 0;
    top: 25px;
    left: 165px; /* 140 + 25 padding */
    width: 48px;
    height: 48px;
    background-color: hsla(0,0%,100%,.2);
    border-radius: 24px;
    border-color: hsla(0,0%,0%,.2);
    -webkit-transform: translateZ(0); /* Force button to own HW layer */
}

.Navigation-toggle.digit-Checkbox.montage-Checkbox--checked {
    background-image: none;
}

.Navigation-toggle:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: transparent url(../../assets/images/toggle-icons.svg) no-repeat;
    background-size: 48px auto;
    background-position: center 0; /* no icon by default */
}

.Navigation--show .Navigation-toggle:before {
    background-position: center -48px;
}

.Navigation-toggle.montage--active {
    background-color: hsla(0,0%,0%,.1);
}


/* Responsive Nav */

@media (min-width: 1200px) and (orientation: landscape) { /* Show nav on wider screens */
    
    .Navigation {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        height: 100%;
        -webkit-transition: none;
        -webkit-transform: none;
    }
    
    .Navigation-toggle.digit-Checkbox {
        display: none;
    }
    
}


/* Portrait */
@media (orientation: portrait) {
    
    .Navigation {
        width: auto;
        height: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        -webkit-transform: translate3d(0,-100%,0);
    }
    
    .Navigation-list {
        display: -webkit-box;
    	-webkit-box-orient: horizontal;
    	-webkit-box-pack: start;
    	display: -webkit-flex;
    	-webkit-flex-direction: row;
    	-webkit-justify-content: flex-start;
    	height: auto;
    }
    
    .Navigation-listItem {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
    }
    
    .Navigation-button.digit-Button {
        padding: 0 6px;
    }
    
    .Navigation-toggle.digit-Checkbox {
        top: 95px;
        left: 25px;
    }
    
}
