.Navigation {
    background-color: hsl(0,0%,90%);
    -webkit-user-select: none;
}

.Navigation-list {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Navigation-listItem {
    padding: 0;
    margin: 0;
}

.Navigation-listItem:first-child .Navigation-button {
	border-top: 1px solid hsl(0,0%,80%);
}

.Navigation-button.digit-Button {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 40px 0 12px 0; /* Space for icon */
	border: none;
	border-bottom: 1px solid hsl(0,0%,80%);
	border-radius: 0;
	font-size: 11px;
	color: hsla(0,0%,0%,.5);
    background-color: hsl(0,0%,90%);
}

/* It seems that Chrome on Android sets the :hover at times.. need to investigate
 more */
/*.Navigation-button.digit-Button:hover {*/
	/*background-color: hsl(0,0%,98%);*/
/*}*/

.Navigation-button.digit-Button.montage--active,
.Navigation-button--selected.digit-Button {
	background-color: hsl(0,0%,95%);
}

.Navigation-button:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: transparent url(../../assets/images/nav-icons.svg) no-repeat;
	background-size: 48px auto;
	background-position: center 48px; /* no icon by default */
}

.NavItem--introduction .Navigation-button:before { background-position: center 0; }
.NavItem--staircase .Navigation-button:before { background-position: center -48px; }
.NavItem--thermostat .Navigation-button:before { background-position: center -288px; }
.NavItem--kitchen .Navigation-button:before { background-position: center -96px; }
.NavItem--counters .Navigation-button:before { background-position: center -144px; }
.NavItem--laundry .Navigation-button:before { background-position: center -192px; }
.NavItem--window .Navigation-button:before { background-position: center -240px; }
.NavItem--solarPanels .Navigation-button:before { background-position: center -336px; }
.NavItem--callBack .Navigation-button:before { background-position: center -384px; }


/* Portrait */

@media (max-width: 1000px) {
    .Navigation-list {
    	-webkit-box-orient: horizontal;
    	-webkit-box-pack: start;
    	-webkit-flex-direction: row;
    	-webkit-justify-content: flex-start;
    	height: auto;
    	margin-right: 100px; /* Space for toggle */
    }
    
    .Navigation-listItem {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
    }

    .Navigation-listItem:first-child .Navigation-button {
        border-left: 1px solid hsl(0,0%,80%);
    }
    
    .Navigation-button.digit-Button {
        font-size: 0;
        color: transparent;
        width: 100%;
        height: 100px;
        padding: 40px 20px 10px 20px;
        border: none;
        border-right: 1px solid hsl(0,0%,80%);
    }
    
    .Navigation-button:before {
        top: 24px;
    }
}
