.Navigation {
    position: relative;
    width: 100%;
    height: 100%;
}

.Navigation-list {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}

.Navigation-page {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform 0.5s ease-out;
}

.Navigation-page.Navigation-page--slide {
    -webkit-transform: translate3d(200px, 0px, 0px);
}

.Navigation-page-slot {
    position: relative;
}
