.Navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    z-index: 10;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    background-color: #f5f5f5;
    border-left: 1px solid hsl(0,0%,90%);
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Navigation.Navigation--show {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/* Nav List ------------------------------ */

.Navigation-list {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	
	max-height: 800px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Navigation-listItem {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Navigation-button.digit-Button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 30px;
	border: none;
	border-radius: 0;
	font-size: 16px;
	text-align: left;
	color: #999;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	background-color: inherit;
}

.Navigation-button.digit-Button.montage--active {
	background-color: hsla(0,0%,0%,.1);
	text-shadow: none;
}

.Navigation-button--selected.Navigation-button {
	color: #333;
}


/* Nav Toggle -------------------------- */

.Navigation-toggle.digit-Checkbox {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 11;
    margin: 0;
    top: 20px;
    left: -68px;
    width: 68px;
    height: 68px;
    border-radius: 100px 0 0 100px;
    border: 1px solid hsl(0,0%,90%);
    border-right: none;
    background-color: #f5f5f5;
    -webkit-transform: translateZ(0); /* Force button to own HW layer */
}

.Navigation-toggle.digit-Checkbox.montage-Checkbox--checked {
    background-image: none;
}

.Navigation-toggle.montage--active,
.Navigation-toggle.montage--active.montage-Checkbox--checked {
    background-color: hsla(0,0%,0%,.1);
    background: -webkit-linear-gradient( left, hsl(0,0%,90%), hsl(0,0%,96%) ) no-repeat left top;
    background: linear-gradient( left, hsl(0,0%,90%), hsl(0,0%,96%) ) no-repeat left top;
}

.Navigation-toggle:after {
    content: "";
    pointer-events: none;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: transparent url(../../assets/images/toggle-icons.svg) no-repeat;
    background-size: 48px auto;
    background-position: center 0; /* no icon by default */
}

.Navigation--show .Navigation-toggle:after {
    background-position: center -48px;
}




/* Responsive Nav */

@media (min-width: 1200px) and (orientation: landscape) { /* Show nav on wider screens */
    
    .Navigation {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        height: 100%;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: none;
        transform: none;
    }
    
    .Navigation-toggle.digit-Checkbox {
        display: none;
    }
    
}


/* Only show icons if enough height */

@media (min-height: 660px) {
        
    .Navigation-button.digit-Button {
    	padding: 30px 30px 0 30px;
    	font-size: 14px;
    	text-align: center;
    	font-weight: normal;
    }
    
    .Navigation-button:before {
    	content: "";
    	pointer-events: none;
    	position: absolute;
    	top: 4px;
    	left: 0;
    	right: 0;
    	height: 48px;
    	background: transparent url(../../assets/images/nav-icons.svg) no-repeat;
    	background-size: 48px auto;
    	background-position: center 48px; /* no icon by default */
    }
    
    .NavItem--introduction .Navigation-button:before { background-position: center 0; }
    .NavItem--staircase .Navigation-button:before { background-position: center -48px; }
    .NavItem--thermostat .Navigation-button:before { background-position: center -288px; }
    .NavItem--kitchen .Navigation-button:before { background-position: center -96px; }
    .NavItem--counters .Navigation-button:before { background-position: center -144px; }
    .NavItem--laundry .Navigation-button:before { background-position: center -192px; }
    .NavItem--window .Navigation-button:before { background-position: center -240px; }
    .NavItem--solarPanels .Navigation-button:before { background-position: center -336px; }
    .NavItem--callBack .Navigation-button:before { background-position: center -384px; }
    
    .Navigation-button--selected.Navigation-button {
    	background-color: hsl(0,0%,90%);
    	background: -webkit-linear-gradient( left, hsl(0,0%,96%), hsl(0,0%,90%) ) no-repeat left top;
    	background: linear-gradient( left, hsl(0,0%,96%), hsl(0,0%,90%) ) no-repeat left top;
    }
}


@media (orientation: portrait) and (max-height: 480px ), (orientation: landscape) and (max-height: 500px ) {
    
    .Navigation-toggle.digit-Checkbox {
        top: 0;
        border-radius: 0 0 0 30px;
    }
    
}


/* Portrait */
@media (orientation: portrait) {
    
    /*.Navigation {
        width: auto;
        height: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        -webkit-transform: translate3d(0,-100%,0);
    }
    
    .Navigation-list {
        display: -webkit-box;
    	-webkit-box-orient: horizontal;
    	-webkit-box-pack: start;
    	display: -webkit-flex;
    	-webkit-flex-direction: row;
    	-webkit-justify-content: flex-start;
    	height: auto;
    }
    
    .Navigation-listItem {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
    }
    
    .Navigation-button.digit-Button {
        padding: 0 6px;
    }*/
    
}
