.Main {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex; /* new */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Needed for the nav */
}


/* 3D -------------------------- */

.Main-viewport {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    background-color: hsl(0,0%,90%);
    z-index: 2;
}

.Main-room {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-colladaView canvas {
    display: block; /* Removes bottom gap */
}

.Main-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Config -------------------------- */

.Main-configuration {
    position: relative;
    height: 100%;
    width: 400px;
    min-height: 300px; /* Might fix empty flow issue */
}

.Main-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-cards {
    list-style: none;
}

.Main .PanelFlow-flow {
    background-color: hsl(0, 0%, 27%);
    background-image: -webkit-linear-gradient(top,
        hsla(0,0%,20%,0.4) 0%,
        hsla(0,0%,20%,0.1) 7%,
        hsla(0,0%,20%,0) 14%);
}


/* Portrait -------------------------- */

@media (orientation: portrait) {
    .Main {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
    }
    
    .Main-viewport {
        height: auto;
    }

    .Main-configuration {
        width: 100%;
        height: 400px;
        min-width: 0;
        min-height: 0;
    }
    
    .Main-overview {
        bottom: auto;
        top: 0;
        right: 120px; /* space for the toggle button */
    }
    
    .Main .PanelFlow {
        border-top: 1px solid hsl(0, 0%, 61%);
    }
    
    .Main .PanelFlow-flow {
        border-left: none;
    }
}