.Main {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex; /* new */
    display: flex; /* unprefixed */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Needed for the nav */
}


/* 3D -------------------------- */

.Main-viewport {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: relative;
    z-index: 2;
    background-color: hsl(0,0%,95%);
}

.Main-room {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-colladaView canvas {
    display: block; /* Removes bottom gap */
}

.Main-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Loder */

.Main-loader {
    text-align: center;
    padding-bottom: 45px; /* Level out the overview. */
}

.Main-loader-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
    -webkit-animation: Main-loader .9s 0s steps(1) 60;
    animation: Main-loader .9s 0s steps(1) 60;
}

.Main-loader-dot:nth-child(2) { -webkit-animation-delay: .3s; animation-delay: .3s; }
.Main-loader-dot:nth-child(3) { -webkit-animation-delay: .6s; animation-delay: .6s; }

@-webkit-keyframes Main-loader { 66.667% { background-color: #b3b3b3; } }
@keyframes Main-loader { 66.667% { background-color: #b3b3b3; } }


/* Config -------------------------- */

.Main-configuration {
    position: relative;
    height: 100%;
    width: 400px;
    min-height: 300px; /* Might fix empty flow issue */
}

.Main-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-cards {
    list-style: none;
}

.Main .PanelFlow.scrolling {
    background-color: hsl(0, 0%, 27%);
    background-image: -webkit-linear-gradient(top, hsla(0,0%,20%,0.4) 0%, hsla(0,0%,20%,0.1) 7%, hsla(0,0%,20%,0) 14%);
    background-image: linear-gradient(top, hsla(0,0%,20%,0.4) 0%, hsla(0,0%,20%,0.1) 7%, hsla(0,0%,20%,0) 14%);
}


/* Portrait -------------------------- */

@media (orientation: portrait) {

    .Main {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .Main-viewport {
        height: auto;
    }

    .Main-configuration {
        width: 100%;
        height: 400px;
        min-width: 0;
        min-height: 0;
    }

}

@media (orientation: portrait) and (max-width: 560px) {

    .Main-configuration {
        height: 300px;
    }

}

@media (orientation: landscape) and (max-height: 300px) {

    .Main-configuration {
        display: none;
    }

}
