.Main {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex; /* new */
    height: 100%;
}

/* Default Nexus 10 */
.Main-navigation {
    height: 100%;
    width: 100px;
    border-right: 1px solid hsl(0,0%,80%);
}

/* Targets iPad */
@media (max-width: 1150px) {
    .Main-navigation {
        display: none;
    }
}

/* Targets Desktop */
@media (min-width: 1300px) {
    .Main-navigation {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 3;
        border-right: none;
        border-left: 1px solid hsl(0,0%,80%);
    }
}

.Main-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-configuration {
    position: relative;
    -webkit-flex: 1; /* new */
    -webkit-box-flex: 1; /* old: iOS6 */
    height: 100%;
}

.Main-cards {
    list-style: none;
}

.Main-viewport {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    height: 100%;
    background-color: hsl(0,0%,95%);
    z-index: 2;
}

.Main-room {
    position: relative;
}

.Main-colladaView canvas {
    display: block; /* Removes bottom gap */
}

.Main-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.Main .PanelFlow-flow {
    border-left: 1px solid hsl(0, 0%, 61%);

    background-color: hsl(0, 0%, 27%);
    background-image: -webkit-linear-gradient(top,
        hsla(0,0%,20%,0.4) 0%,
        hsla(0,0%,20%,0.1) 7%,
        hsla(0,0%,20%,0) 14%);
}
