.Main {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex; /* new */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Needed for the nav */
}


/* Nav Toggle -------------------------- */

.Main-navToggle.digit-Checkbox {
    display: none;
    position: absolute;
    z-index: 11;
    margin: 0;
    top: 25px;
    right: 25px;
    width: 48px;
    height: 48px;
    background-color: hsla(0,0%,100%,.2);
    border-radius: 24px;
    border-color: hsla(0,0%,0%,.2);
    -webkit-transform: translateZ(0); /* Force button to own HW layer */
}

.Main-navToggle.digit-Checkbox.montage-Checkbox--checked {
    background-image: none;
}

.Main-navToggle:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: transparent url(../../assets/images/toggle-icons.svg) no-repeat;
    background-size: 48px auto;
    background-position: center 0; /* no icon by default */
}

.Main--showNavigation .Main-navToggle:before {
    background-position: center -48px;
}

.Main-navToggle.montage--active {
    background-color: hsla(0,0%,0%,.1);
}


/* Nav -------------------------- */

.Main-navigation {
    height: 100%;
    width: 100px;
    border-right: 1px solid hsl(0,0%,80%);
}


/* 3D -------------------------- */

.Main-viewport {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    background-color: hsl(0,0%,95%);
    z-index: 2;
}

.Main-room {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-colladaView canvas {
    position: absolute;
    display: block; /* Removes bottom gap */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.Main-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Config -------------------------- */

.Main-configuration {
    position: relative;
    height: 100%;
    width: 400px;
    min-height: 300px; /* Might fix empty flow issue */
}

.Main-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Main-cards {
    list-style: none;
}

.Main .PanelFlow-flow {
    border-left: 1px solid hsl(0, 0%, 61%);

    background-color: hsl(0, 0%, 27%);
    background-image: -webkit-linear-gradient(top,
        hsla(0,0%,20%,0.4) 0%,
        hsla(0,0%,20%,0.1) 7%,
        hsla(0,0%,20%,0) 14%);
}


/* Screen size adapting -------------------------- */

/* Targets Desktop */
@media (min-width: 1300px) {
    .Main-navigation {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 3;
        border-right: none;
        border-left: 1px solid hsl(0,0%,80%);
    }
}

/* Targets iPad */
@media (max-width: 1150px) {
    .Main-navToggle.digit-Checkbox {
        display: block;
    }

    .Main-navigation {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        border-left: 1px solid hsl(0,0%,80%);
        -webkit-transform: translate3d(100%,0,0);
        -webkit-transition: -webkit-transform .2s;
    }

    .Main--showNavigation .Main-navigation {
        -webkit-transform: translate3d(0,0,0);
    }
}

/* Portrait */
@media (max-width: 1000px) {
    .Main {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
    }
    
    .Main-navigation {
        width: auto;
        height: 100px;
        border: none;
        border-bottom: 1px solid hsl(0,0%,80%);
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        -webkit-transform: translate3d(0,-100%,0);
    }
    
    .Main-viewport {
        height: auto;
    }

    .Main-configuration {
        width: 100%;
        height: 400px;
        min-width: 0;
        min-height: 0;
    }
    
    .Main-overview {
        bottom: auto;
        top: 0;
        right: 120px; /* space for the toggle button */
    }
    
    .Main .PanelFlow {
        border-top: 1px solid hsl(0, 0%, 61%);
    }
    
    .Main .PanelFlow-flow {
        border-left: none;
    }
}