.Overview {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    
    height: 90px;
    padding: 10px 44px;

    color: #fff;
    font-size: 20px;
    background-color: hsla(0, 0%, 0%, 0.5);

    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.Overview-totals {
    display: -webkit-box;
    -webkit-box-pack: end;
    -webkit-box-align: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
}

.Overview-ecoScore {
    margin-right: 1em;
}

.Overview-ecoBars {
    height: 30px;
    width: 80px;
    vertical-align: middle;
}


.Overview-price {
    font-family: "HelveticaNeue-Light";
    font-size: 33px;
}