.Overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    height: 70px;
    padding: 10px 30px;

    color: #fff;
    font-size: 20px;
    background-color: hsla(0,0%,20%,.5);

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Overview-logo {
    height: 60px;
}

.Overview-price {
    font-size: 33px;
    white-space: nowrap;
}

@media (orientation: landscape) and (max-width: 960px ), (orientation: portrait) and (max-width: 560px ) {
    
    .Overview {
        padding: 0px 20px;
    }

    .Overview-logo {
        height: 40px;
    }
    
    .Overview-price {
        font-size: 20px;
    }
    
    
    .EcoScore-title {
        font-size: 16px;
        padding-right: 6px;
    }
    
    .EcoScore-bar {
        margin-left: 6px;
    }
    
    .EcoScore-grade {
        font-size: 14px;
        line-height: 16px;
    }
    
    .usdoe-CostGraph-consumptionBar {
        width: 80px;
    }
    
}

@media (orientation: landscape) and (max-width: 760px ) and (min-height: 300px ) {
    
    .Overview {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        top: 0;
        height: auto;
        padding: 30px 0;
        background-color: hsla(0,0%,20%,.8);
    }
    
    .EcoScore {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    .EcoScore-bar {
        margin-left: 0;
    }
    
    .EcoScore-title {
        text-align: center;
        padding-right: 0;
        padding-bottom: 4px;
        margin-bottom: 4px;
        border-right: none;
        border-bottom: 1px solid hsla(0,0%,100%,.3);
    }
    
    .EcoScore-grade {
        text-align: center;
    }
}

@media (orientation: landscape) and (max-width: 520px) and (min-height: 300px) {
    
    .Overview {
        padding: 10px;
    }
    
    .Overview-logo {
        display: none;
    }
    
    .EcoScore {
        display: none;
    }
    
    .Overview-price {
        display: none;
    }
    
    .Main-loader {
        display: none;
    }

}


@media (orientation: portrait) and (max-height: 450px ) {
    
    .Overview {
        height: auto;
        padding: 10px 80px 10px 10px;
        background-color: hsla(0,0%,20%,.8);
    }
    
    .Overview-logo {
        height: 30px;
    }
    
    .Overview-price {
        font-size: 18px;
    }
    
    .EcoScore-title {
        display: none;
    }
    
}

@media (orientation: portrait) and (max-height: 400px ) {
    
    .Overview {
        top: 0;
    }
    
}

@media (orientation: portrait) and (max-width: 380px ) {
    
    .EcoScore-title {
        display: none;
    }
    
}
