.Overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    height: 90px;
    padding: 0 30px;

    color: #eee;
    font-size: 12px;
    background-color: hsla(0,0%,20%,.65);

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Overview-logo {
    height: 65px;
    margin-left: -3px;
}

.Overview-price {
    font-size: 24px;
    text-shadow: 0 2px 2px hsla(0,0%,0%,.75);
    white-space: nowrap;
    letter-spacing: 1px;
}


/* Landscape ---------------------------------------------------------- */

@media (orientation: landscape) and (max-width: 900px ) and (min-height: 300px ) {
    .EcoScore {
        display: none;
    }
}

@media (orientation: landscape) and (max-width: 700px ) and (min-height: 300px ) {
    .Overview-logo {
        display: none;
    }
    
    .Overview-price {
        text-align: center;
        -box-flex: 1;
        flex: 1;
    }
}

@media (orientation: landscape) and (max-width: 560px) and (min-height: 300px) {
    
    .Overview {
        display: none;
    }
    
}

@media (orientation: landscape) and (max-width: 880px) and (max-height: 299px) {
    
    .Overview {
        height: auto;
        padding: 10px 20px;
        background-color: hsla(0,0%,20%,.8);
    }
    
    .Overview-logo {
        height: 30px;
    }
    
    .EcoScore-bar {
        padding-top: 0;
    }
    
    .EcoScore-title {
        display: none;
    }
    
    .Overview-price {
        font-size: 18px;
    }

}

@media (orientation: landscape) and (max-width: 720px) and (max-height: 299px) {
    
    .Overview {
        display: none;
    }
    
}


/* Portrait ---------------------------------------------------------- */

@media (orientation: portrait) {
    
    .Overview {
        padding: 20px;
        height: 50px;
    }
    
}

@media (orientation: portrait) and (max-width: 460px ) {
    
    .EcoScore-title {
        display: none;
    }
    
}

@media (orientation: portrait) and (max-height: 450px ), (orientation: portrait) and (max-width: 400px ) {
    
    .Overview {
        height: auto;
        padding: 10px 20px;
        background-color: hsla(0,0%,20%,.8);
    }
    
    .Overview-logo {
        height: 30px;
    }
    
    .EcoScore-bar {
        padding-top: 0;
    }
    
    .EcoScore-title {
        display: none;
    }
    
    .Overview-price {
        font-size: 15px;
    }
    
}

@media (orientation: portrait) and (max-height: 450px ) {
    
    .Overview {
        padding-right: 60px; /* Space for nav toggle */
    }
    
    .usdoe-CostGraph-consumptionBar {
        width: 70px;
    }
    
}

@media (orientation: portrait) and (max-height: 400px ) {
    
    .Overview {
        top: 0;
    }
    
}


