.Overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    height: 70px;
    padding: 10px 30px;

    color: #fff;
    font-size: 20px;
    background-color: hsla(0,0%,20%,.5);

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Overview-logo {
    height: 60px;
}

.Overview-score {
    margin-left: 40px;
}

.Overview-ecoBars {
    height: 30px;
    width: 80px;
    vertical-align: middle;
}


.Overview-price {
    font-size: 33px;
    white-space: nowrap;
}