/*  
* Custom Styles for Digit
*/


/* Radio and Checkbox -------------------- */

.Custom.digit-RadioButton,
.Custom.digit-Checkbox {
    border-color: hsla(0,0%,0%,.12);
    background-color: hsl(0, 0%, 94%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.1);
}

.Custom.digit-RadioButton.montage--active,
.Custom.digit-Checkbox.montage--active,
.Custom.digit-RadioButton.montage-RadioButton--checked,
.Custom.digit-Checkbox.montage-Checkbox--checked {
    background-color: hsl(74,65%,65%);
}

/* Swatch -------------------- */

.Custom--hasSwatches .Custom.digit-RadioButton {
    font-size: 20px;
    border: 3px solid white;
    box-shadow: inset 0 1px 4px 1px hsla(0,0%,0%,.15);
    background-repeat: repeat;
    background-position: center;
    background-size: auto 100%;
}

.Custom--hasSwatches .Custom.digit-RadioButton.montage-RadioButton--checked {
    box-shadow: inset 0 1px 4px 1px hsla(0,0%,0%,.15), 0 0 0 2px hsl(74,65%,65%);
}

/* Reduces invisible target so they don't overlap */
.Custom.digit-RadioButton:after,
.Custom.digit-Checkbox:after,
.Custom--swatch.digit-RadioButton:after {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    /* background: rgba(255, 0, 45, 0.5); */
}


/* Slider -------------------- */

.Custom.digit-Slider {
    border-color: hsl(74,55%,60%);
    background: hsl(0, 0%, 100%) -webkit-linear-gradient(left, hsla(74,65%,65%,0), hsla(74,65%,65%,1) );
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);
}

.Custom .digit-Slider-thumb {
    border-color: hsl(71,30%,74%);
    background: hsl(0,0%,90%) -webkit-linear-gradient(top, hsla(0,0%,100%,1), hsla(0,0%,100%,0) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,0.5), 0 2px 3px hsla(0,0%,0%,0.15);
}

.Custom.montage-Slider--active .digit-Slider-thumb {
    border-color: hsl(71,30%,64%);
    background: hsl(74,40%,92%);
    box-shadow: none;
}



/* Input -------------------- */

.Custom.digit-TextField {
    height: 2.2em;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    border-color: hsl(0,0%,82%);
    background-color: hsl(0, 0%, 95%);
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.08);
}

.Custom.digit-TextField:focus {
    border-color: hsl(74,65%,65%);
    background-color: hsl(74,65%,96%);
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.08);
}


/* Button -------------------- */

.Custom.digit-Button {
    height: 2.2em;
    border-radius: 6px;
    color: hsl(0,0%,50%);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.4);
    border-color: hsl(0,0%,82%);
    background: hsl(0,0%,96%) -webkit-linear-gradient(top, hsla(0,0%,100%,.06), hsla(0,0%,0%,.06) );
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,0.2), 0 2px 4px hsla(0,0%,0%,0.1);
}

.Custom.digit-Button.montage--active {
    background-color: hsl(0,0%,98%);
    box-shadow: inset 0 1px 2px 1px hsla(0,0%,100%,0.2);
    -webkit-transform: translateY(1px);
}

/* Action */
.Custom--action.digit-Button {
    color: hsl(74,40%,30%);
    border-color: hsl(74,55%,55%);
    background-color: hsl(74,65%,65%);
}
.Custom--action.digit-Button.montage--active {
    background-color: hsl(74,65%,70%);
}

/* Cancel */
.Custom--cancel.digit-Button {
    color: hsl(10,100%,93%);
    text-shadow: 0 1px 2px hsla(0,0%,0%,.2);
    border-color: hsl(0,76%,60%);
    background-color: hsl(10,90%,66%);
}
.Custom--cancel.digit-Button.montage--active {
    background-color: hsl(10,100%,69%);
}