html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #222;
    margin: 0px;
    height: 100%;
}



/* Indexloader */

.montage-Indexloader {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-flex;
	height: 100%;
}

.montage-Indexloader-box {
	margin: auto;
	text-align: center;
}

.montage-Indexloader-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
    -webkit-animation: matte-Loading .9s 0s steps(1) infinite;
}

.montage-Indexloader-dot:nth-child(2) { -webkit-animation-delay: .3s; }
.montage-Indexloader-dot:nth-child(3) { -webkit-animation-delay: .6s; }

@-webkit-keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }


/* Hide/show */

.montage-Indexloader {
	visibility: hidden;
}

.montage-app-bootstrapping .montage-Indexloader,
.montage-app-loading .montage-Indexloader {
	visibility: visible;
}


/* Debug ---------------------------------------- */

.debug-Grid {
    position: relative;
}

.debug-Grid:after,
.debug-Grid--padded:after {
    content: "";
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: -webkit-repeating-linear-gradient( left,
        hsla(0,100%,50%, 0)  0px,
        hsla(0,100%,50%, 0) 10px,
        hsla(0,100%,50%,.1) 10px,
        hsla(0,100%,50%,.1) 54px,
        hsla(0,100%,50%, 0) 54px,
        hsla(0,100%,50%, 0) 64px
    );
}

.debug-Grid--padded:after {
    border: 34px solid hsla(0,100%,50%,0);
    background-clip: content-box;
}


