.Laundry .Card-hero {
    height: 220px;
    margin-bottom: 0;
}

/* Landscape + small height */
@media (orientation: landscape) and (max-height: 600px ) {
    
    .Laundry .Card-hero {
        height: 100px;
        bottom: 85px;
        right: 84px;
    }
}