.Laundry .Card-hero {
    height: 182px;
    margin-bottom: -18px;
}


/* Landscape ---------------------------------------------------------- */

@media (orientation: landscape) and (max-height: 600px ) {
    
    .Laundry .Card-hero {
        height: 100px;
        bottom: 64px;
        right: 61px;
    }
}