.SolarPanels .Card-hero {
    height: 140px;
}

/* Landscape + small height */
@media (orientation: landscape) and (max-height: 600px ) {
    
    .SolarPanels .Card-title {
        width: 140px;
    }
    
    .SolarPanels .Card-hero {
        bottom: 140px;
        right: 60px;
        height: 90px;
    }
}
