.SolarPanels .Card-hero {
    height: 140px;
}


/* Landscape ---------------------------------------------------------- */

@media (orientation: landscape) and (max-height: 600px ) {
    
    .SolarPanels .Card-title {
        width: 140px;
    }
    
    .SolarPanels .Card-hero {
        bottom: 80px;
        right: 50px;
        height: 90px;
    }
}


/* Debug ------------------------------------------ */

/*.SolarPanels:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background: url(design.jpg) no-repeat left top;
    opacity: .4;
}

.SolarPanels:hover:before {
    opacity: 0;
}*/
