.ConfigPreview {
    display: none;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 4px solid #c5e265;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    box-shadow: 0px 2px 10px hsla(0,0%,0%,0.3);
    -webkit-transition: background .3s;
    transition: background .3s;
}

/* TODO: Not rely on data-montage-id for selecting */
.StaticView--counters .ConfigPreview[data-montage-id="countertop"],
.StaticView--kitchen .ConfigPreview[data-montage-id="kitchen"],
.StaticView--staircase .ConfigPreview[data-montage-id="staircase"] {
    display: block;
}

.ConfigPreview-label{
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 150px;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px hsla(0,0%,0%,0.4);
}
