.StaticView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/static/ride-viewpoint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image .6s;
    transition: background-image .6s;
}


.StaticView-webglNotice {
    padding: 20px;
    font-size: .8em;
    text-align: center;
    line-height: 1.4;
    color: hsl(210, 20%, 20%);
    background: -webkit-linear-gradient(left, hsla(0,0%,100%,0), hsla(0,0%,100%,.6), hsla(0,0%,100%,0));
    background: linear-gradient(to right, hsla(0,0%,100%,0), hsla(0,0%,100%,.6), hsla(0,0%,100%,0));
}

.StaticView-webglNotice-highlight {
    color: hsl(210, 30%, 50%);
    font-weight: bold;
    text-decoration: none;
}

/* Viewpoints */
.StaticView--counters {
    background-image: url(../../assets/static/countertop-viewpoint.jpg);
}

.StaticView--kitchen {
    background-image: url(../../assets/static/kitchen-viewpoint.jpg);
}

.StaticView--laundry {
    background-image: url(../../assets/static/laundry-viewpoint.jpg);
}

.StaticView--staircase {
    background-image: url(../../assets/static/staircase-viewpoint.jpg);
}

.StaticView--windows {
    background-image: url(../../assets/static/windows-viewpoint.jpg);
}

/* Staircase Configuration */
.StaticView .ConfigPreview--staircase-pine {
    background-image: url(../../assets/static/staircase-pine.jpg);
}

.StaticView .ConfigPreview--staircase-ash {
    background-image: url(../../assets/static/staircase-ash.jpg);
}

.StaticView .ConfigPreview--staircase-walnut {
    background-image: url(../../assets/static/staircase-walnut.jpg);
}

.StaticView .ConfigPreview--staircase-bold {
    background-image: url(../../assets/static/staircase-bold.jpg);
}

/* Countertop Configuration */

.StaticView .ConfigPreview--countertop-paper {
    background-image: url(../../assets/static/countertop-paper.jpg);
}

.StaticView .ConfigPreview--countertop-bamboo {
    background-image: url(../../assets/static/countertop-bamboo.jpg);
}

.StaticView .ConfigPreview--countertop-cement {
    background-image: url(../../assets/static/countertop-cement.jpg);
}

.StaticView .ConfigPreview--countertop-quartz {
    background-image: url(../../assets/static/countertop-quartz.jpg);
}

/* Kitchen Configuration */
.StaticView .ConfigPreview--kitchen {
    background-image: none;
    background-color: hsl(0,0%,80%);
}

.StaticView .ConfigPreview--kitchen-gutersloh {
    background-image: url(../../assets/static/kitchen-gutersloh.jpg);
}

.StaticView .ConfigPreview--kitchen-norse {
    background-image: url(../../assets/static/kitchen-norse.jpg);
}

.StaticView .ConfigPreview--kitchen-vortex {
    background-image: url(../../assets/static/kitchen-vortex.jpg);
}



/* Portrait -------------------------- */

@media (orientation: portrait) {
    
    .StaticView-webglNotice {
        padding: 10px 80px;
    }
    
    .StaticView-webglNotice-highlight {
        display: block;
    }
    
}


/* Small -------------------------- */

@media (orientation: landscape) and (max-width: 760px), (orientation: landscape) and (max-height: 340px) {
    
    .StaticView-webglNotice,
    .StaticView-swatches {
        display: none;
    }
     
}

@media (orientation: portrait) and (max-height: 560px) {
    
    .StaticView-webglNotice,
    .StaticView-swatches {
        display: none;
    }
     
}