.StaticView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url(../../assets/static/ride-viewpoint.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.StaticView-swatches {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.StaticView .ConfigPreview {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    flex: 1 1;
    border: 5px solid white;
    border-width: 0 0 5px 5px;
    height: 30%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.StaticView .ConfigPreview:first-child {
    border-left-width: 0;
}

.StaticView-webglNotice {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    display: block;
    color: hsl(0,0%,100%);
    text-shadow: 0 2px 2px hsla(0, 0%, 10%, 0.5);
    text-align: center;
    font-weight: normal;
}

.StaticView-webglNotice a {
    text-decoration: none;
    color: hsl(210,60%,77%);
}

/* Viewpoints */
.StaticView--counters {
    background-image: url(../../assets/static/countertop-viewpoint.png);
}

.StaticView--kitchen {
    background-image: url(../../assets/static/kitchen-viewpoint.png);
}

.StaticView--laundry {
    background-image: url(../../assets/static/laundry-viewpoint.png);
}

.StaticView--staircase {
    background-image: url(../../assets/static/staircase-viewpoint.png);
}

.StaticView--windows {
    background-image: url(../../assets/static/windows-viewpoint.png);
}

/* Staircase Configuration */
.StaticView .ConfigPreview--staircase-pine {
    background-image: url(../../assets/static/staircase-pine.png);
}

.StaticView .ConfigPreview--staircase-ash {
    background-image: url(../../assets/static/staircase-ash.png);
}

.StaticView .ConfigPreview--staircase-walnut {
    background-image: url(../../assets/static/staircase-walnut.png);
}

.StaticView .ConfigPreview--staircase-bold {
    background-image: url(../../assets/static/staircase-bold.png);
}

/* Countertop Configuration */

.StaticView .ConfigPreview--countertop-paper {
    background-image: url(../../assets/static/countertop-paper.png);
}

.StaticView .ConfigPreview--countertop-bamboo {
    background-image: url(../../assets/static/countertop-bamboo.png);
}

.StaticView .ConfigPreview--countertop-cement {
    background-image: url(../../assets/static/countertop-cement.png);
}

.StaticView .ConfigPreview--countertop-quartz {
    background-image: url(../../assets/static/countertop-quartz.png);
}

/* Kitchen Configuration */
.StaticView .ConfigPreview--kitchen {
    background-image: none;
    background-color: hsl(0,0%,80%);
}

.StaticView .ConfigPreview--kitchen-gutersloh {
    background-image: url(../../assets/static/kitchen-gutersloh.png);
}

.StaticView .ConfigPreview--kitchen-norse {
    background-image: url(../../assets/static/kitchen-norse.png);
}

.StaticView .ConfigPreview--kitchen-vortex {
    background-image: url(../../assets/static/kitchen-vortex.png);
}
