.StaticView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url(../../assets/static/scene.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.StaticView-swatches {
    display: -webkit-box;
    display: -webkit-flex;
}

.StaticView .ConfigPreview {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    border: 5px solid white;
    border-width: 0 0 5px 5px;
    height: 30%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.StaticView .ConfigPreview:first-child {
    border-left-width: 0;
}

.StaticView-webglNotice {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    display: block;
    color: hsl(0,0%,100%);
    text-shadow: 0 2px 2px hsla(0, 0%, 10%, 0.5);
    text-align: center;
    font-weight: normal;
}

.StaticView-webglNotice a {
    text-decoration: none;
    color: hsl(210,60%,77%);
}


/* Staircase Configuration */
.StaticView .ConfigPreview--staircase-pine {
    background-image: url(../../assets/static/staircase-pine.png);
}

.StaticView .ConfigPreview--staircase-ash {
    background-image: url(../../assets/static/staircase-ash.png);
}

.StaticView .ConfigPreview--staircase-walnut {
    background-image: url(../../assets/static/staircase-walnut.png);
}

.StaticView .ConfigPreview--staircase-bold {
    background-image: url(../../assets/static/staircase-bold.png);
}

/* Countertop Configuration */

.StaticView .ConfigPreview--countertop-paper {
    background-image: url(../../assets/static/countertop-paper.png);
}

.StaticView .ConfigPreview--countertop-bamboo {
    background-image: url(../../assets/static/countertop-bamboo.png);
}

.StaticView .ConfigPreview--countertop-cement {
    background-image: url(../../assets/static/countertop-cement.png);
}

.StaticView .ConfigPreview--countertop-quartz {
    background-image: url(../../assets/static/countertop-quartz.png);
}

/* Kitchen Configuration */
.StaticView .ConfigPreview--kitchen {
    background-image: url(../../assets/static/kitchen.png);
}

.StaticView .ConfigPreview--kitchen-appliances {
    background-image: url(../../assets/static/kitchen-appliances.png);
}
