.StaticView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-flex;

    background-image: url(../../assets/static/scene.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.StaticView .ConfigPreview {
    -webkit-flex: 1 1;
    border: 5px solid white;
    border-width: 0 0 5px 5px;
    height: 30%;
    min-height: 100px;
}

.StaticView .ConfigPreview:first-child
{
    border-left-width: 0;
}



/* Staircase Configuration */
.StaticView .ConfigPreview--staircase-pine {
    background-image: url(../../assets/static/staircase-pine.png);
}

.StaticView .ConfigPreview--staircase-ash {
    background-image: url(../../assets/static/staircase-ash.png);
}

.StaticView .ConfigPreview--staircase-walnut {
    background-image: url(../../assets/static/staircase-walnut.png);
}

.StaticView .ConfigPreview--staircase-bold {
    background-image: url(../../assets/static/staircase-bold.png);
}

/* Countertop Configuration */

.StaticView .ConfigPreview--countertop-paper {
    background-image: url(../../assets/static/countertop-paper.png);
}

.StaticView .ConfigPreview--countertop-bamboo {
    background-image: url(../../assets/static/countertop-bamboo.png);
}

.StaticView .ConfigPreview--countertop-cement {
    background-image: url(../../assets/static/countertop-cement.png);
}

.StaticView .ConfigPreview--countertop-quartz {
    background-image: url(../../assets/static/countertop-quartz.png);
}

/* Kitchen Configuration */
.StaticView .ConfigPreview--kitchen {
    background-image: url(../../assets/static/kitchen.png);
}

.StaticView .ConfigPreview--kitchen-appliances {
    background-image: url(../../assets/static/kitchen-appliances.png);
}
