.Window .Card-hero {
    height: 180px;
}

/* Landscape + small height */
@media (max-height: 600px ) and (orientation: landscape) {
    
    .Window .Card-hero {
        position: absolute;
        top: 20px;
        right: 100px;
        height: 90px;
        margin: 0;
    }
}

@media (max-height: 500px ) and (orientation: landscape) {
    
    .Window .Card-hero {
        display: none;
    }
}

@media (max-height: 400px ) and (orientation: landscape) {
    
    .Window .Card-description {
        padding-right: 40px;
    }
    
    .Window .Card-option--rangeField {
        margin-top: 0;
    }
    
}