.Window .Card-hero {
    height: 180px;
}

/* Landscape + small height */
@media (orientation: landscape) and (max-height: 600px ) {
    
    .Window .Card-hero {
        bottom: 115px;
        right: 90px;
        height: 90px;
    }
}

@media (orientation: landscape) and (max-height: 500px ) {
    
    .Window .Card-hero {
        display: none;
    }
}

@media (orientation: landscape) and (max-height: 400px ) {
    
    .Window .Card-option--rangeField {
        margin-top: 0;
    }
    
}

@media (orientation: portrait) and (max-width: 560px ) {
    
    .Window .Card-option--rangeField {
        margin-top: 0;
    }
    
}