
.Card-content--thermostat {
    min-width: 346px;
}

/* Landscape + small height */
@media (orientation: landscape) and (max-height: 600px ) {
    
    .Card-content--thermostat {
        min-width: 0;
        height: 190px;
    }
    
    .Thermostat-den {
        position: absolute;
        bottom: -80px;
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }
}

@media (orientation: landscape) and (max-height: 400px ) {
    
    .Card-content--thermostat {
        display: none;
    }
}


/* Portrait */
@media (orientation: portrait) {
    
    .Card-content--thermostat {
        margin-top: 10px;
        min-width: 310px;
    }
}

/* Portrait + small width */
@media (orientation: portrait) and (max-width: 700px ) {
    
    .Card-content--thermostat {
        position: relative;
        min-width: 0;
        height: 100%;
        margin-top: 0;
    }
    
    .Thermostat-den {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: scale(.7);
        transform: scale(.7);
        margin: -170px;
    }
}



@media (orientation: portrait) and (max-width: 560px) {
    
    .Card-content--thermostat {
        display: none;
    }
        
}