.Thermostat {
    
}

.Card-content--thermostat {
    min-width: 346px;
}

/* Landscape + small height */
@media (max-height: 600px ) and (orientation: landscape) {
    
    .Card-content--thermostat {
        min-width: 0;
        height: 190px;
    }
    
    .Thermostat-den {
        position: absolute;
        top: -50px;
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }
}


/* Portrait */
@media (orientation: portrait) {
    
    .Card-content--thermostat {
        margin-top: 10px;
        min-width: 310px;
    }
}

/* Portrait + small width */
@media (max-width: 600px ) and (orientation: portrait) {
    
    .Thermostat-den {
        margin-left: -30px;
        margin-top: 30px;
    }
}

