.Summary-optionGroup,
.Summary-options {
    list-style: none;
    margin: 0;
}

.Summary-optionGroup {
    padding: 0;
}

.Summary-optionGroupName {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: hsl(0,0%,50%);
}

.Summary-option {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex;
}

.Summary-optionName,
.Summary-optionPrice {
    -webkit-box-flex: 1; /* old: iOS6 */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Summary-optionName {
    font-size: 14px;
}

.Summary-optionPrice {
    text-align: right;
}

.Summary-subtotals {
    border: 1px solid #c6c6c6;
    border-width: 1px 0;
}

.Summary-total {
    text-align: right;
    padding-top: 5px;
}

.Summary-optionGroupItem {
    margin-bottom: 5px;
}

.Summary--price {
    display: block;
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    color: hsla(0,0%,15%)
}

.Summary-total.Summary--price {
    font-weight: bold;
}
