.Summary-optionGroup,
.Summary-options {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
}

.Summary-optionGroup {
    padding: 0;
}

.Summary-optionGroupName {
    font-weight: bold;
    font-size: 14px;
    color: hsl(0,0%,50%);
    width: 120px;
}

.Card-content .Summary-optionGroupName {
    margin: 0 20px 0 0;
}

.Summary-subtotals .Summary-optionGroupName {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
}

.Summary-option {
    display: -webkit-box; /* old: iOS6 */
    display: -webkit-flex;
}

.Summary-optionName {
    display: block;
    -webkit-box-flex: 1; /* old: iOS6 */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Summary-optionName {
    font-size: 14px;
}

.Summary-optionPrice {
    text-align: right;
}

.Summary-subtotals {
    padding-top: 4px;
    border: 1px solid #E0E0E0;
    border-width: 1px 0;
}

.Summary-total {
    text-align: right;
    padding: 4px 0 10px 0;
}

.Summary-optionGroupItem {
    display: -webkit-box;
    display: -webkit-flex;
    margin-bottom: 5px;
}

.Summary--price {
    display: block;
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    color: hsla(0,0%,15%)
}

.Summary-total.Summary--price {
    font-weight: bold;
}
