.Introduction .Card-logo {
    margin-bottom: 2em;
    height: 120px;
}

.Introduction .Card-title--sub {
    display: block;
    font-family: 'Droid Serif', serif;
    font-size: .7em;
    letter-spacing: 0;
}

/* Landscape + small height */
@media (orientation: landscape) and (max-height: 600px ) {
    
    .Introduction .Card-logo {
        position: absolute;
        margin-bottom: 0;
        height: 80px;
        bottom: 199px;
        right: 40px;
    }

}

@media (orientation: landscape) and (max-height: 400px ) {
    
    .Introduction .Card-logo {
        display: none;
    }
    
}

/* Portrait */
@media (orientation: portrait) {
    
    .Introduction .Card-logo {
        display: none;
    }

}

@media (orientation: portrait) and (max-width: 560px) {
    
    .Introduction .Card-title {
        margin-bottom: .6em;
    }

}


