.Introduction .Card-logo {
    margin-bottom: 2em;
    height: 100px;
}

.Introduction .Card-title--sub {
    display: block;
    font-family: 'Droid Serif', serif;
    font-size: .7em;
    letter-spacing: 0;
}

/* Landscape + small height */
@media (max-height: 600px ) and (orientation: landscape) {
    
    .Introduction .Card-logo {
        margin-bottom: 0;
        height: 90px;
        position: absolute;
        top: 30px;
        right: 100px;
    }

}

/* Portrait */
@media (orientation: portrait) {
    
    .Introduction .Card-logo {
        display: none;
    }

}