.Introduction .Card-logo {
    height: 134px;
    margin-left: -7px;
    margin-bottom: 74px;
}


/* Landscape + small height */
/*@media (orientation: landscape) and (max-height: 600px ) {
    
    .Introduction .Card-logo {
        position: absolute;
        margin-bottom: 0;
        height: 80px;
        bottom: 199px;
        right: 40px;
    }

}

@media (orientation: landscape) and (max-height: 400px ) {
    
    .Introduction .Card-logo {
        display: none;
    }
    
    .Introduction .Card-title {
        margin-bottom: .6em;
    }
    
}*/

/* Portrait */
/*@media (orientation: portrait) {
    
    .Introduction .Card-logo {
        display: none;
    }

}

@media (orientation: portrait) and (max-width: 560px) {
    
    .Introduction .Card-title {
        margin-bottom: .6em;
    }

}*/


/* Debug ------------------------------------------ */

/*.Introduction:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(design.jpg) no-repeat left top;
    opacity: .4;
}

.Introduction:hover:before {
    opacity: 0;
}*/
