.Countertops .Card-hero {
    margin-bottom: .6em;
}

.Countertops .OptionField:nth-child(4) .digit-RadioButton {
    background-image: url(../../../assets/static/countertop-paper.jpg);
}

.Countertops .OptionField:nth-child(3) .digit-RadioButton {
    background-image: url(../../../assets/static/countertop-bamboo.jpg);
}

.Countertops .OptionField:nth-child(2) .digit-RadioButton {
    background-image: url(../../../assets/static/countertop-cement.jpg);
}

.Countertops .OptionField:nth-child(1) .digit-RadioButton {
    background-image: url(../../../assets/static/countertop-quartz.jpg);
}


/* Landscape + small height */
@media (max-height: 600px ) and (orientation: landscape) {
    
    .Countertops .Card-title {
        width: 170px;
    }

    .Countertops .Card-hero {
        position: absolute;
        top: 30px;
        right: 60px;
        height: 100px;
        margin: 0;
    }
}