.Countertops {

}

/* Landscape + small height */
@media (max-height: 600px ) and (orientation: landscape) {
    
    .Countertops .Card-title {
        width: 170px;
    }

    .Countertops .Card-hero {
        position: absolute;
        top: 50px;
        right: 60px;
        height: 100px;
        margin: 0;
    }
}