/**
 * User Configurable:
 *
 * .usdoe-CostGraph width
 * .usdoe-CostGraph .usdoe-Bar margin
 * .usdoe-CostGraph-costBar .usdoe-Bar-level background-color
 * .usdoe-CostGraph-consumptionBar .usdoe-Bar-level background-color
 */

.usdoe-CostGraph {
    position: relative;
    font-size: 0;
    line-height: 0;
}

.usdoe-CostGraph .usdoe-Bar {
    display: inline-block;
    height: 8px;
}

.usdoe-CostGraph-consumptionBar {
    width: 50px;
    background-color: hsla(0,0%,60%,.9);
    border-radius: 0 3px 3px 0;
}

.usdoe-CostGraph-consumptionBar .usdoe-Bar-level {
    border-radius: inherit;
    background: #BAD662;
}
