/**
 * User Configurable:
 *
 * .usdoe-CostGraph width
 * .usdoe-CostGraph .usdoe-Bar margin
 * .usdoe-CostGraph-costBar .usdoe-Bar-level background-color
 * .usdoe-CostGraph-consumptionBar .usdoe-Bar-level background-color
 */

.usdoe-CostGraph {
    position: relative;
    font-size: 0;
    line-height: 0;
}

.usdoe-CostGraph .usdoe-Bar {
    display: inline-block;
    height: 14px;
}

.usdoe-CostGraph-consumptionBar {
    width: 100px;
    background-color: hsla(0,0%,60%,.9);
    border-radius: 4px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.2);
}

.usdoe-CostGraph-consumptionBar .usdoe-Bar-level {
    border-radius: inherit;
    background: hsl(74,65%,65%) -webkit-linear-gradient(top, hsla(0,0%,100%,.06), hsla(0,0%,0%,.06) );
    background: hsl(74,65%,65%) linear-gradient(to bottom, hsla(0,0%,100%,.06), hsla(0,0%,0%,.06) );
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,0.3), inset 0 -1px 1px hsla(0,0%,0%,0.2);
}
