.CallBack {

}

.CallBack .Card-header {
	background-image: none;
}

.CallBack-controls {
    margin-top: 8px;
}

.CallBack--actionButton.digit-Button,
.CallBack--cancelButton.digit-Button {
    width: 100%;
    border-color: hsl(71,56%,54%);
    border-width: 3px;
    background: hsl(71,56%,64%) url(lines.png) no-repeat;
    background-size: 100% 100%;
}

.CallBack--actionButton.digit-Button.montage--active,
.CallBack--cancelButton.digit-Button.montage--active {
    background-color: hsl(71,56%,68%);
}

.CallBack--cancelButton {
    -webkit-filter: hue-rotate(285deg);
}

.CallBack--activity {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 10px;
}
