.CallBack {

}

.CallBack .Card-hero {
    display: none;
}

.CallBack .Card-title {
    margin-bottom: 10px;
}

.CallBack .Card-description {
    font-weight: bold;
    margin: 44px 0 33px 0;
}


/* Callback Steps ----------- */

.CallBack-steps {
    text-align: center;
}

.CallBack-label {
    display: block;
    margin: 0 auto 12px auto;
    width: 200px;
    font-size: 12px;
    color: #808080;
    text-align: left;
}

.CallBack-input {
    display: block;
    margin: 0 auto 16px auto;
    width: 200px;
}

.CallBack-button.digit-Button {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.CallBack--activity {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 10px;
}

.CallBack-errors {
    margin: 10px 0 0 0;
}

/* Landscape ---------------------------------------------------------- */

/*@media (orientation: landscape) and (max-height: 600px ) {
    
    .CallBack .Card {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .CallBack .Card-description {
        display: none;
    }
    
    .Summary-optionGroupItem {
        margin-bottom: 0;
    }
}

@media (orientation: landscape) and (max-height: 500px ) {
    
    .Summary-optionGroup {
        display: none;
    }
    
    .Summary-optionGroupName {
        font-size: 13px;
    }
    
    .Summary--price {
        font-size: 13px;
    }
    
}*/


/* Portrait ---------------------------------------------------------- */

/*@media (orientation: portrait) {
    
    .Summary-optionName {
        display: none;
    }
    
    .Summary-optionPrice {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }
}

@media (orientation: portrait) and (max-width: 560px) {
    
    .Summary-optionGroup {
        display: none;
    }
    
}*/


/* FF fix */

.digit-TextField {
    -moz-box-sizing: border-box;
}


/* Debug ------------------------------------------ */

/*.CallBack {
    display: block !important;
    padding-top: 81px !important;
}

.CallBack:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background: url(design.jpg) no-repeat left top;
    opacity: .4;
}

.CallBack:hover:before {
    opacity: 0;
}*/