.CallBack {

}

.CallBack .Card-hero {
    display: none;
}

.CallBack .Card-title {
    margin-bottom: 10px;
}

.CallBack-controls {
    margin-top: 8px;
}

.CallBack--actionButton.digit-Button,
.CallBack--cancelButton.digit-Button {
    width: 100%;
    border-color: hsl(71,56%,54%);
    border-width: 3px;
    background: hsl(71,56%,64%) url(lines.png) no-repeat;
    background-size: 100% 100%;
}

.CallBack--actionButton.digit-Button.montage--active,
.CallBack--cancelButton.digit-Button.montage--active {
    background-color: hsl(71,56%,68%);
}

.CallBack--cancelButton {
    -webkit-filter: hue-rotate(285deg);
}

.CallBack--activity {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 10px;
}

.CallBack-errors {
    margin: 10px 0 0 0;
}

/* Landscape + small height */
@media (max-height: 660px ) and (orientation: landscape) {
    
    .Summary-optionName {
        display: none;
    }
    
    .Summary-optionPrice {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
    }
}

@media (max-height: 580px ) and (orientation: landscape) {
    
    .CallBack .Card {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .CallBack .Card-description {
        display: none;
    }
    
    .Summary-optionGroupItem {
        margin-bottom: 0;
    }
}

/* Portrait */
@media (orientation: portrait) {
    
    .Summary-optionName {
        display: none;
    }
    
    .Summary-optionPrice {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
    }
}