.Den {
    position: relative;
    width: 346px;
    height: 346px;
}
.Den:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(nest-overlay.png);
    background-size: 346px 346px;
}
.Den:before {
    content: "";
    position: absolute;
    left: 97px;
    top: 74px;
    background: black;
    width: 154px;
    height: 124px;
}
.Den-left-red-bar,
.Den-right-red-bar,
.Den-left-blue-bar,
.Den-right-blue-bar,
.Den-black-bar {
    position: absolute;
    left: 96px;
    top: 73px;
    width: 155.5px;
    height: 77.75px;
    -webkit-transform-origin: 50% 100% 0;
}
.Den-left-red-bar,
.Den-right-red-bar {
    background-color: red;
}
.Den-left-blue-bar,
.Den-right-blue-bar {
    background-color: #3af;
}
.Den-black-bar {
    background-color: black;
}
.Den-white-bar {
    width: 6.5px;
    height: 19px;
    position: absolute;
    background-color: white;
    top: 74px;
    left: 170.33px;
    -webkit-transform-origin: 50% 76.75px 0;
}
.Den-red-fading-bar {
    width: 6.5px;
    height: 19px;
    position: absolute;
    background-color: red;
    top: 74px;
    left: 170.33px;
    -webkit-transform-origin: 50% 76.75px 0;
}
.Den-blue-fading-bar {
    width: 6.5px;
    height: 19px;
    position: absolute;
    background-color: #3af;
    top: 74px;
    left: 170.33px;
    -webkit-transform-origin: 50% 76.75px 0;
}
.Den-left-digit-clip {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
    width: 50px;
    height: 73px;
    top: 112px;
    left: 128px;
}
.Den-right-digit-clip {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
    width: 50px;
    height: 73px;
    top: 112px;
    left: 168px;
}
.Den-left-digit,
.Den-right-digit {
    pointer-events: none;
    width: 500px;
    height: 73px;
    background-image: url(numbers.png);
    background-size: 500px 73px;
    -webkit-transform: translate3d(0, 0, 0);
}
.Den-icon {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: 64px;
    height: 64px;
    left: 141px;
    top: 173px;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}